<div class="container mr-3">
  <h2 class="text-center">{{ post?.title }}</h2>
  <hr>
  <p>{{ post?.content }}</p>
  <small>{{ posted_at | date }}</small>
  <hr>
  <h3>Comments</h3>
  <h4 *ngIf="commentsNotFound">No comments yet.</h4>
  <ul class="list-group list-group-flush">
    <li *ngFor="let comment of comments" class="list-group-item">
      <app-comment [comment]="comment"></app-comment>
    </li>
  </ul>
  <div [formGroup]="form" class="form-group">
    <label for="newComment"><span style="font-size: larger">Leave a comment.</span></label>
    <textarea formControlName="content" id="newComment" rows="3" class="form-control"></textarea>
    <div *ngIf="form.get('content').touched && form.get('content').invalid" class="alert alert-danger">Comment should be more than 5 characters</div>
    <button [disabled]="form.get('content').invalid" (click)="newComment(form.value)" class="btn btn-primary mt-2">Comment</button>
  </div>
</div>
