<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Blog++ 记录每一天!</title>
    <link rel="stylesheet" href="../styles/nav.css">
    <link rel="stylesheet" href="../styles/global.css">
</head>
<body>
<nav class="nav-hori">
    <ul>
        <li class="float-left"><a href="index.html">主页</a></li>
        <li class="float-right"><a href="help.html">帮助</a></li>
        <li class="float-right"><a href="#">注册</a></li>
        <li class="float-right"><a href="#">登录</a></li>
        <li class="float-right"><a href="personal-page.html">个人资料</a></li>
        <div class="stop-float"></div>
    </ul>
</nav>
<header>
    <h1>Blog++ - 开发者信息</h1>
    <p>这是一个免费的笔记分享网站，注册账号并分享你的第一篇文章吧！</p>
    <hr>
</header>

<section class="about">
    <p>我们是来自云南大学的三位本科生，这个博客网站是我们学习Web开发的一个练手项目，希望你能喜欢。</p>
    <p>如果你对Blog++有什么建议或意见，可以通过<span class="text-primary">QQ:2654525303</span>联系我们。</p>
    <p><a href="https://github.com/Rabbit-A512">我的GitHub</a></p>
</section>

<footer>
    <hr>
    <p><a href="about.html">关于我们</a></p>
    <p>友情链接</p>
    <ul>
        <li><a href="http://commonmark.org/" target="_blank">CommonMark</a></li>
        <li><a href="https://developer.mozilla.org/zh-CN/" target="_blank">MDN Web 文档</a></li>
        <li><a href="https://github.com/" target="_blank">GitHub</a></li>
    </ul>
</footer>
</body>
</html>