<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Blog++ 记录每一天!</title>
    <link rel="stylesheet" href="../styles/nav.css">
    <link rel="stylesheet" href="../styles/global.css">
</head>
<body>
<nav class="nav-hori">
    <ul>
        <li class="float-left"><a href="index.html">主页</a></li>
        <li class="float-right"><a href="help.html">帮助</a></li>
        <li class="float-right"><a href="#">注册</a></li>
        <li class="float-right"><a href="#">登录</a></li>
        <li class="float-right"><a href="personal-page.html">个人资料</a></li>
        <div class="stop-float"></div>
    </ul>
</nav>
<header>
    <h1>Blog++ - Q&A</h1>
    <p>这是一个免费的笔记分享网站，注册账号并分享你的第一篇文章吧！</p>
    <hr>
</header>

<section class="help">
    <ul>
        <li>
            <p class="text-primary">这个网站是做什么的？</p>
            <p>这是一个博客分享网站，聚焦于优质的文字内容，为每一位会员提供流畅的阅读体验和写作体验。</p>
        </li>
        <li>
            <p class="text-primary">如何成为会员？</p>
            <p>在任何一个页面点击左上角的“首页”按钮，页面跳转后点击右上角的“注册”按钮，按照提示申请账号并登录，即可访问所有内容。</p>
        </li>
        <li>
            <p class="text-primary">什么是Markdown？</p>
            <p>Markdown是一种通用的写作格式，能够帮助写作者高效处理简单的排版任务，同时非常容易<span class="text-warning">（十分钟内）</span>上手。</p>
            <p>关于Markdown的学习网站，我们推荐<a href="http://commonmark.org/" target="_blank">CommonMark</a>。</p>
        </li>
        <li>
            <p class="text-primary">如何关注和取关特定用户？</p>
            <p>在任何页面点击目标用户的头像或昵称，进入Ta的个人资料页面，“关注/取关”按钮在用户头像下方。</p>
        </li>
        <li>
            <p class="text-primary">如何设置阅读计划？</p>
            <p>在任何文章动态页面，点击文章缩略内容右上角的“加入阅读计划”按钮，可以把对应的文章加入到自己的阅读计划。</p>
            <p>在自己的个人资料页面，可以查看自己的阅读计划，已经完成阅读的文章可以点击文章右上角的“√”按钮进行标注。</p>
        </li>
        <li>
            <p class="text-primary">如何设置写作计划？</p>
            <p>在自己的个人资料页面，选择“我的写作计划”选项卡，点击后可以浏览和编辑个人的写作计划，也可以点击“√”按钮标注已完成的写作计划。</p>
        </li>
    </ul>
</section>

<footer>
    <hr>
    <p><a href="about.html">关于我们</a></p>
    <p>友情链接</p>
    <ul>
        <li><a href="http://commonmark.org/" target="_blank">CommonMark</a></li>
        <li><a href="https://developer.mozilla.org/zh-CN/" target="_blank">MDN Web 文档</a></li>
        <li><a href="https://github.com/" target="_blank">GitHub</a></li>
    </ul>
</footer>
</body>
</html>