<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Blog++ 记录每一天！!</title>
    <link rel="stylesheet" href="../styles/nav.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/section.css">
    <link rel="stylesheet" href="../styles/global.css">
</head>
<body>
    <nav class="nav-hori">
        <ul>
            <li class="float-left"><a href="#">主页</a></li>
            <li class="float-right"><a href="#">登录</a></li>
            <li class="float-right"><a href="#">注册</a></li>
            <li class="float-right"><a href="#">帮助</a></li>
            <div class="stop-float"></div>
        </ul>
    </nav>
<header>
    <h1>欢迎来到Blog++</h1>
    <p>这是一个免费的笔记分享网站，注册账号并分享你的第一篇文章吧！</p>
    <hr>
</header>
<section class="today">
    <h2>今日动态</h2>
    <ul>
        <li>动态</li>
        <li>动态</li>
    </ul>
</section>
<section class="posts">
    <h2>热门文章</h2>
    <article>
        <h2>Blog 1</h2>
        <p>Paragraph 1</p>
        <p>Paragraph 2</p>
    </article>
    <article>
        <h2>Blog 2</h2>
        <p>Paragraph 1</p>
        <p>Paragraph 2</p>
    </article>
</section>
<div class="stop-float"></div>
<footer>
    <hr>
    <p><a href="#">关于我们</a></p>
    <p>友情链接</p>
    <ul>
        <li><a href="http://commonmark.org/" target="_blank">CommonMark</a></li>
        <li><a href="https://developer.mozilla.org/zh-CN/" target="_blank">MDN Web 文档</a></li>
        <li><a href="https://github.com/" target="_blank">GitHub</a></li>
    </ul>
</footer>
</body>
</html>