<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Blog++ 记录每一天!</title>
    <link rel="stylesheet" href="../styles/nav.css">
    <link rel="stylesheet" href="../styles/index_section.css">
    <link rel="stylesheet" href="../styles/global.css">
</head>
<body>
    <nav class="nav-hori">
        <ul>
            <li class="float-left"><a href="#">主页</a></li>
            <li class="float-right"><a href="help.html">帮助</a></li>
            <li class="float-right"><a href="#">注册</a></li>
            <li class="float-right"><a href="#">登录</a></li>
            <li class="float-right"><a href="personal-page.html">个人资料</a></li>
            <div class="stop-float"></div>
        </ul>
    </nav>
<header>
    <h1>欢迎来到Blog++</h1>
    <p>这是一个免费的笔记分享网站，注册账号并分享你的第一篇文章吧！</p>
    <hr>
</header>
<section class="main">
    <section class="today">
        <h2>今日动态</h2>
        <ul>
            <li>用户1评论了文章：如何理解指针？<a class="btn-normal">点我查看</a></li>
            <li>用户2评论了文章：云大图书馆使用攻略<a class="btn-normal">点我查看</a></li>
            <li>用户2发表了文章：南都最值得吃的5家小店<a class="btn-normal">点我查看</a></li>
        </ul>
    </section>
    <section class="posts">
        <h2>热门文章</h2>
        <article>
            <h2>云大图书馆使用攻略<a class="btn-normal">点我查看</a></h2>
            <p>云南大学呈贡校区的图书馆被誉为中国最美图书馆之一。然而，除了美丽的外表，云大图书馆的藏书也是非常丰富。今天我就分享一下我在使用图书馆的过程中发现的小技巧，抛砖引玉，希望大家多多讨论！</p>
        </article>
        <article>
            <h2>七和弦在编曲中的应用<a class="btn-normal">点我查看</a></h2>
            <p>为什么有些歌曲会给人另类的听觉感受？这其中的原因当然不止一条，但是一定少不了特殊和弦的使用。这篇文章会简单介绍七和弦的构成和应用场景，为你的编曲锦上添花。</p>
        </article>
    </section>
    <div class="stop-float"></div>
</section>
<footer>
    <hr>
    <p><a href="about.html">关于我们</a></p>
    <p>友情链接</p>
    <ul>
        <li><a href="http://commonmark.org/" target="_blank">CommonMark</a></li>
        <li><a href="https://developer.mozilla.org/zh-CN/" target="_blank">MDN Web 文档</a></li>
        <li><a href="https://github.com/" target="_blank">GitHub</a></li>
    </ul>
</footer>
</body>
</html>