<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Blog++ 个人资料</title>
    <link rel="stylesheet" href="../styles/nav.css">
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/personal.css">
</head>
<body>
<nav class="nav-hori">
    <ul>
        <li class="float-left"><a href="index.html">主页</a></li>
        <li class="float-right"><a href="#">登录</a></li>
        <li class="float-right"><a href="#">注册</a></li>
        <li class="float-right"><a href="help.html">帮助</a></li>
        <div class="stop-float"></div>
    </ul>
</nav>

<header>
    <h1>个人资料</h1>
    <hr>
</header>

<section class="profile">
    <img src="../images/portrait.png">
    <div>
        <p><span class="profile-key">昵称：</span>不再犹豫</p>
        <p><span class="profile-key">签名：</span>假期和朋友是人生中最精彩的两样东西。</p>
    </div>
    <div class="social">
        <ul>
            <li><a>关注</a></li>
            <li><a>拉黑</a></li>
            <li><a>举报</a></li>
        </ul>
    </div>


</section>

<section class="trends">
    <ul>
        <li><a href="#" class="active">Ta的评论</a></li>
        <li><a href="#">Ta的文章</a></li>
        <li><a href="#">Ta的写作计划</a></li>
    </ul>
    <div class="panels">
        <div class="active-panel">评论</div>
        <div>文章</div>
        <div class="writing-plans">
            <p>写作计划</p>
            <input type="text" placeholder="输入新的写作计划：">
            <button>新增</button>
        </div>
    </div>
</section>

<div class="stop-float"></div>

<aside></aside>

<footer>
    <hr>
    <p><a href="about.html">关于我们</a></p>
    <p>友情链接</p>
    <ul>
        <li><a href="http://commonmark.org/" target="_blank">CommonMark</a></li>
        <li><a href="https://developer.mozilla.org/zh-CN/" target="_blank">MDN Web 文档</a></li>
        <li><a href="https://github.com/" target="_blank">GitHub</a></li>
    </ul>
</footer>

<script src="../scripts/activate-tab.js"></script>
<script src="../scripts/todo.js"></script>
</body>
</html>