<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog++ 个人资料</title>
    <link rel="stylesheet" href="../styles/nav.css">
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>
<body>
<nav class="nav-hori">
    <ul>
        <li class="float-left"><a href="#">主页</a></li>
        <li class="float-right"><a href="#">登录</a></li>
        <li class="float-right"><a href="#">注册</a></li>
        <li class="float-right"><a href="#">帮助</a></li>
        <div class="stop-float"></div>
    </ul>
</nav>

<header>
    <h1>个人资料</h1>
    <hr>
</header>

<footer>
    <hr>
    <p><a href="#">关于我们</a></p>
    <p>友情链接</p>
    <ul>
        <li><a href="http://commonmark.org/" target="_blank">CommonMark</a></li>
        <li><a href="https://developer.mozilla.org/zh-CN/" target="_blank">MDN Web 文档</a></li>
        <li><a href="https://github.com/" target="_blank">GitHub</a></li>
    </ul>
</footer>
</body>
</html>