<div class="container mt-3">
  <div class="card" *ngIf="authService.isLoggedIn()">
    <div class="card-body">
      <h4 class="card-title">Welcome, {{ authService.currentUser.name }}.</h4>
      <p class="card-text">
        What's in your mind? Write them down now.
      </p>
      <button routerLink="/edit" class="card-link btn btn-outline-primary btn-sm">New Post</button>
      <button class="card-link btn btn-outline-primary btn-sm">My Comments</button>
    </div>
  </div>
</div>

<div class="jumbotron mt-5">
  <h1>Blog++</h1>
  <p class="lead">A tool for content providers.</p>
  <hr class="my-4">
  <nav class="nav">
    <a routerLink="/" class="nav-link">Programming</a>
    <a routerLink="/" class="nav-link">Music</a>
    <a routerLink="/" class="nav-link">Literature</a>
    <a routerLink="/" class="nav-link">Tutorial</a>
    <a routerLink="/" class="nav-link disabled">And more...</a>
  </nav>
</div>
