footer p {
    text-align: center;
}

footer ul {
    list-style-type: none;
    text-align: center;
    border: 1px solid #eeeeee;
    border-radius: 4px;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}