
/*#0267c1*/
/*#0075c4*/
/*#efa00b*/
/*#d65108*/
/*#591f0a*/


/* This is the global style of my website. */

.stop-float {
    clear: both;
    height: 5px;
}

html {
    font-family: sans-serif;
}

body {
    padding: 10px 30px;
    margin: 0 auto;
}