/* index section styles */
section.main {
    background-color: #eeeeee;
}
section.today {
    float: left;
    width: 40%;
    box-sizing: border-box;
    padding-left: 1rem;
}
section.posts {
    float: left;
    width: 60%;
    box-sizing: border-box;
    padding-left: 1rem;
}
section.today ul {
    list-style-type: none;
    padding: 0;
}
