/* This is the style for horizontal navigation. */

nav.nav-hori {
    background-color: #666;
    border-radius: 4px;
    padding-top: 2px;
}

nav.nav-hori ul li {
    display: inline-block;
    margin: 0 2px;
}

nav.nav-hori ul {
    margin: 0;
    padding: 7px;
}

nav.nav-hori a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 10px;
    color: #222;
}

nav li.float-left {
    float: left;
}

nav li.float-right {
    float: right;
}

nav.nav-hori label {
    font-size: 1.2rem;
    color: #111;
}
